<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.user.mapper.UserMapper">
<resultMap id="userResultMap" type="org.example.pojo.User">
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="role" property="role"/>
    <result column="create_time" property="createTime"/>
</resultMap>


    <select id="getAllUserList" resultMap="userResultMap">
        select * from user where 1=1
        <if test="username != null and username != ''">
           and  username = #{username}</if>
        <if test="role != null and role != ''">
            and  role = #{role}</if>
        order by create_time desc
    </select>


</mapper>
